.messages {
    display: grid;
    grid-template-rows: 1fr 100px;
    border: 1px solid #bdbdbd;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

.messages_items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.you_message {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.friend_message {
    display: flex;
    justify-content: flex-start;
}

.after {
    min-width: 50px;
}

.new_message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.textarea {
    composes: textarea from "../../../App.css";
}

.button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.send_button {
    width: 100px;
}