.body {
    padding: 10px 10px 10px 0;
}

.header {
    height: 100%;
    width: 100%;
    background: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}

.header img {
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: 100px 150px 1fr;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    height: 100%;
    background: #ffffff;
}