.profile {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    padding: 5px;
    height: 100%;
}

.avatar {
    composes: avatar from "../../../App.module.css";
}

.profile_avatar {
    height: 100px;
    width: 100px;
}

.image {
    composes: image from "../../../App.module.css";
}

.profile_info {
    box-sizing: border-box;
    width: 100%;
}

.profile_info > div {
    height: 25px;
}

.profile_info h3 {
    margin: 0 0 5px 0;
}


