.profile {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    padding: 5px;
    height: 100%;
}

.avatar {
    composes: avatar from "../../../App.css";
}

.profile_avatar {
    height: 100px;
    width: 100px;
}

.image {
    composes: image from "../../../App.css";
}

.profile_info h3 {
    margin: 0 0 15px 0;
}