.error {
    position: relative;
    display: flex;
    flex-direction: column;
}

.error > div {
    color: red;
}

.error textarea, .error input {
    border: red solid 2px;
}

.error input {
    padding-right: 23px;
}

.icon {
    width: 16px;
    background-size: 80px;
    composes: icon from "../../../App.module.css";
}

.error_icon {
    display: none;
    background-position: -64px;
}

.error .error_icon {
    position: absolute;
    display: inline-block;
    right: 5px;
    margin: 3px 0;
}

.error_log {
    display: none;
}

.error .error_log {
    display: block;
}

.checkbox {
    display: flex;
}

.checkbox input {
    margin: 0;
    justify-self: center;
    align-self: center;
}

.checkbox label {
    margin-left: 5px;
    padding-bottom: 5px;
    justify-self: center;
    align-self: center;
}