.about_me {
    display: flex;
    width: 100%;
}

.content {
    min-width: 80px;
}

.textarea_container {
    width: 100%;
}

.textarea {
    min-width: 100px;
    height: 100%;
    composes: textarea from "../../../../App.module.css";
}

.text {
    width: 100%;
}