.header {
    display: flex;
    justify-content: flex-start;
    color: white;
    background: url("../../assets/backgrondHF.png") -1px -13px / 150px;
    composes: invertOne from "../../App.module.css";
}

.container_logo {
    box-sizing: border-box;
    padding: 25px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.logo {
    height: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container_name {
    display: flex;
    align-items: center;
}

.app_name {
    font-size: 50px;
}

.button {
    box-sizing: border-box;
    border: 0;
    outline: none;
    background: transparent;
}

.container_auth {
    position: relative;
    margin-right: 20px;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 18px;
}

.container_auth>button {
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    color: white;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    background: transparent;
}

.exit_mode {
    color: #ffffff !important;
}

.content {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    height: 100%;
    width: 100%;
}

.content:hover {
    color: #ff6a00;
}

.avatar {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    composes: avatar from "../../App.module.css";
}

.image {
    composes: image from "../../App.module.css";
    composes: invertZero from "../../App.module.css";
}

.container_auth a {
    color: #ffffff;
    text-decoration: none;
}

.container_auth a:hover {
    color: #ff6a00;
}

.exit_container {
    position: absolute;
    top: 100%;
    right: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100px;
    background-color: #3b3b3b;
    z-index: 100;
}

.exit_container>div:hover {
    color: #ff6a00;
}

