.footer {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 10px;
    box-sizing: border-box;
    height: 100px;
    background: url("https://steamuserimages-a.akamaihd.net/ugc/560941285501338930/0DB98F0B910C039111CCCD673291D73D547D1079/") -1px 0 / 150px;
    color: white;
    composes: invertOne from "../../App.module.css";
}

.contacts {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    height: 100%;
    max-width: 500px;
}

.contacts_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contacts_container a, .contacts_container div {
    text-decoration: none;
    color: white;
}

.contacts a:hover, .contacts_container div:hover {
    color: #ff6a00;
}