.app-wrapper {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    height: 100vh;
}

.body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    background: url("https://media.moddb.com/cache/images/games/1/65/64112/thumb_620x2000/Tile001.png") -1px 0 / 150px;
}
