.app_wrapper {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    height: 100vh;
}

.body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    background: #d9d9d9;
}

.dark_theme {
    filter: invert(1);
}


.content {
    padding: 10px 10px 10px 0;
}

.icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-image: url("assets/icon.png");
    background-color: transparent;
}

.avatar {
    position: relative;
    overflow:hidden;
}

.image {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    object-fit:cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.textarea {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    width: 100%;
    height: 55px;
    resize: none;
    outline: none;
}

.dark_theme .logo {
    filter: invert(0);
}

.dark_theme img {
    filter: invert(1);
}

.dark_theme .footer {
    filter: invert(1);
}

.dark_theme .header {
    filter: invert(1);
}

.light_theme {
}